<div class="row">
    <div class="col-12">
      <h4>Lectura de fotos desde Firebase</h4>
      <p>Mediante este componente se realiza la lectura de imágenes, desde Cloud FireStore (base datos) y desde el Storage (Repositorio para los archivos) y se muestran en la vista en un elementos card de Bootstrap</p>

      <p>Mi repositorio en GitHub - <strong>https://github.com/farney9/photosFirebase</strong></p>        
</div>
  </div>

<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
    <div 
    *ngFor="let item of items | async"
        class="col">
      <div class="card h-100 hvr-grow">
        <img [src]="item.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
      </div>
    </div>
  </div>
