/* Drop Zone */
.drop-zone { 
	border: dotted 3px lightgray; 
	opacity: 0.5; 
	color: #666; 
	text-align: center 
}

.file-hover { 
	border: dotted 5px dodgerblue; 
}
.text-green { 
	color: green ;
	font-weight: bold;
}
